<div class="container">
  <div class="row">
    <div class="col">
      <h1>Projects</h1>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-success">
        <i class="fas fa-plus"></i>
        <span class="ms-2">Add project</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Data de Início</th>
              <th scope="col">Data de Fim</th>
              <th scope="col">Preço</th>
              <th scope="col">Risco</th>
              <th scope="col">Participantes</th>
              <th scope="col">Data de criação</th>
              <th scope="col" class="text-center">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projects">
              <th scope="row">{{ project.id }}</th>
              <td>{{ project.name }}</td>
              <td>{{ project.dt_begin | date: "dd/MM/yyyy" }}</td>
              <td>{{ project.dt_end | date: "dd/MM/yyyy" }}</td>
              <td>R$ {{ project.price }}</td>
              <td>{{ getRisc(project.risc) }}</td>
              <td>{{ getUsers(project.participants) }}</td>
              <td>{{ project.created_at | date: "dd/MM/yyyy" }}</td>
              <td class="text-center">
                <button type="button" class="btn btn-primary btn-option">
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-option ms-0 ms-sm-0 ms-md-0 ms-lg-2 ms-xl-2 mt-2 mt-sm-2 mt-md-2 mt-lg-0 mt-xl-0"
                  (click)="deleteProject(project.id)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li
            class="page-item"
            [ngClass]="{ disabled: pagination.current == 1 }"
          >
            <button
              type="button"
              class="page-link"
              aria-label="Previous"
              (click)="previousPage()"
            >
              <span aria-hidden="true">&laquo;</span>
            </button>
          </li>
          <div *ngFor="let pg of pagination.each">
            <li
              class="page-item"
              [ngClass]="{ active: pagination.current == pg }"
            >
              <button
                type="button"
                class="page-link"
                (click)="setPagination(pg)"
              >
                {{ pg }}
              </button>
            </li>
          </div>
          <li
            class="page-item"
            [ngClass]="{
              disabled: pagination.current == pagination.each.length
            }"
          >
            <button
              type="button"
              class="page-link"
              aria-label="Next"
              (click)="nextPage()"
            >
              <span aria-hidden="true">&raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
